Source: cvmfs-release
Maintainer: Jose Molina <jose.molina@cern.ch>
Section: utils
Priority: extra
Version: 1.0-0
Homepage: http://cernvm.cern.ch/portal/filesystem
Package: cvmfs-release
Architecture: all 
Description: CernVM File System Release
